ifcopenshell ==0.7.0.240406
streamlit
pandas
lark
re                                                              
lark                                                            
numpy                                                     
ifcopenshell.api                                                
ifcopenshell.util